body {
    background: url("https://www.all3dfree.net/uploads/5/1/9/6/51967249/green_lush_grass_textures_free_23.jpg");
    background-repeat: repeat;
    background-size: contain;
}

.score-board {
    width: 90vw;
    height: fit-content;
    margin: 20px auto;
    background: radial-gradient(circle, rgb(97, 101, 110) 70%, rgb(104, 104, 104));
    border-radius: 20px;
    color: white;
    box-shadow: 0 0 20px 20px black;
}

.score-to-win {
    grid-column: 1 / span 2;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.row {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
}

.details * {
    justify-content: center;
    vertical-align: middle;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    width: 90vw;
    border-bottom: 2px solid white;

}

.main-grid * {
    font-size: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bot-row,
.mid-row {
    border-top: 2px solid white;
}

.grid-text {
    font-size: 7rem;
}

.right-border {
    border-right: 2px solid white;
}

.score {
    font-size: 22rem;
    background-color: rgba(189, 189, 189, 0.39);
}

.spacer {
    height: 75px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.boards {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    padding-bottom: 50px;
}

.boards .left {
    height: auto;
    width: 100%;
}

.boards .mid,
.boards .right {
    height: 500px;
    width: 300px;
    background-color: rgb(187, 163, 117);
    border: solid black 4px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 20px 50px 2px black;
}

.top-half {
    justify-content: center;
    position: relative;
    height: 160px;
}

.bottom-half {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: 50px;
}