.App {
  text-align: center;
}

.id-control {
  padding: 25px 20px;
  border: solid 1px gray;
  background-color: rgba(0, 0, 0, 0.712);
  color: white;
  border-radius: 10px;
  width: fit-content;
  position: sticky;
  bottom: 0;
  cursor: pointer;
}

.id-control * {
  padding: 5px 10px;
  border: solid 1px gray;
}

.game-id-readout {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.back-button {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}